@import "reset.css";

#container {
	width: 900px;
	margin: 0 auto;
}

nav li a {
	text-decoration: none;
}

#container aside {
	width: 199px;
	float: left;
	margin: 20px 0 0 0;
	border-right: 1px dotted red;
}

#container #main {
	width: 670px;
	float: left;
	margin: 20px 0 0 30px;
}

#container header {
	border-bottom: 1px dotted red;
}

#container header li {
	float: left;
	display: block;
	padding: 0 10px 0 0;
}

#container li.selected a {
	border-bottom: 1px solid red;
}

#container footer {
	border-top: 1px dotted red;
	margin: 20px 0 0 0;
}

